__pycache__*
*build*
*source*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
mls
# Test binary, built with `go test -c`
*.test
*.idea
*test.txt
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*/python/test.py
# Dependency directories (remove the comment below to include it)
# vendor/
ABSTRA_template.txt
Makefile_edited.txt
__pycache__*
